{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Dev",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "args": [
        "--debug",
        "--dart-define=NEWS_API_KEY=NEWS_API_KEY"
      ]
    }
  ]
}